################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/SecureMicroservices/.vs
/SecureMicroservices/Movie.API/bin
/SecureMicroservices/Movie.API/obj
