################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/SecureMicroservices/.vs
/SecureMicroservices/Movie.API/bin
/SecureMicroservices/Movie.API/obj
/SecureMicroservices/IdentityServer/bin
/SecureMicroservices/IdentityServer/obj
/SecureMicroservices/Movies.Client/bin
/SecureMicroservices/Movies.Client/obj
